<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.fabi288.plugins.indent"
    version="1.3.3">

    <name>ImageIndent</name>
    
	<description>
		Add in the Gallaray your app in the Indent menu
	</description>

	<license>MIT</license>

    <engines>
      <engine name="cordova" version=">=2.0.0" />
    </engines>	

	<platform name="android">
      		
     	<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<intent-filter>
    				<action android:name="android.intent.action.SEND" />
    				<category android:name="android.intent.category.DEFAULT" />
    				<data android:mimeType="image/*" />
			</intent-filter>
		</config-file>


    </platform>

  <!-- ios -->
</plugin>